---
import Layout from "../layouts/Layout.astro";

import CGPA from "../components/cgpa";
import GradeCalculator from "../components/grade"; 
---

<Layout title="Welcome to Astro.">
  <main>
    <header id="head">
      <h2 class="title">GradeX</h2>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div id="cgpa"></div>
          <div class="card">
            <h2>CGPA Calculator</h2>
            <CGPA client:load />
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <h2>Grade Calculator</h2>
            <GradeCalculator client:load>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile">
      <a href="#cgpa" id="cgpa-toggle" class="active">CGPA</a>
      <a id="grade-toggle" href="#grade">Grade</a>
    </div>
  </main>
</Layout>
<script>
  const ct = document.getElementById("cgpa-toggle");
  const gt = document.getElementById("grade-toggle");

  ct.addEventListener("click", (e) => {
    ct.classList.add("active");
    gt.classList.remove("active");
  });
  gt.addEventListener("click", (e) => {
    gt.classList.add("active");
    ct.classList.remove("active");
  });
</script>

<style>
  #head {
    padding: 28px 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100vw;
  }
  .container {
    max-width: none;
  }
  .row {
    margin: 12px;
  }
  .title {
    font-size: 36px;
    color: var(--brand);
    font-weight: 600;
    text-align: left;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: resize;
  }

  .title:hover {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--brand);
    color: transparent;
    font-size: 34px;
  }

  .card {
    height: 80vh;
    background-color: var(--card);
    color: var(--text-color);
    border-radius: 38px;
    border: 1px solid var(--border);
    padding: 1vh;
  }
  .card h2 {
    margin: 8px 16px;
    color: #f5f5f5;
  }
  main {
    background: var(--bg);
    margin: auto;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .sub-card {
    background-color: var(--incard);
    height: 100%;
    border-radius: 32px;
    border-color: var(--border);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid var(--border);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
  }

  .cgpa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: 6px;
  }
  .text {
    color: #3e3f3e !important;
    font-weight: 600;
    font-size: 14px;
  }

  .cgpa h1 {
    font-size: 40px;
    color: var(--brand) !important;
  }

  .mobile {
    display: none;
    position: fixed;
    bottom: 18px;
    padding: 4px;
    background: #0e100e;
    border-radius: 14px;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.4);
  }

  .mobile a {
    padding: 6px 36px;
    font-size: 16px;
    border-radius: 10px;
    color: #d8ffc6;
  }

  .mobile a.active {
    background: var(--brand);
    color: var(--bg);
  }

  /* Tablet */
  @media only screen and (max-width: 810px) {
    .row {
      flex-direction: column;
      gap: 16px;
      align-items: center;
    }
    .col-6 {
      width: 100vw;
    }
  }

  /* Mobile */
  @media only screen and (max-width: 500px) {
    .container {
      padding: 5px !important;
    }
    .card h2 {
      margin: 9px 18px;
    }

    .card {
      padding: 0.5vh;
      border-radius: 28px;
    }

    .sub-card {
      border-radius: 26px;
    }

    .mobile {
      display: flex !important;
    }
    .col-6 {
      padding: 0px;
    }
  }

  @media only screen and (max-width: 360px) {
    .mobile {
      display: flex !important;
    }
    .row {
      margin: 0px;
    }
  }
</style>
