#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

#sno {
  background-color: var(--input);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
  border-radius: 10px;
  padding: 4px 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cred-input {
  background-color: var(--input);
  border-radius: 10px;
  padding: 0;
}
#sno label {
  color: var(--sno);
  font-size: 16px;
}
#sno.del {
  -webkit-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  -o-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  cursor: pointer;
}
#sno.del:hover {
  background: var(--red);
}
#sno.del:hover label {
  color: var(--bg) !important;
  cursor: pointer;
}
table {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
th {
  font-size: 12px;
  color: var(--sno);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
td {
  color: var(--input);
}
tr {
  color: var(--bg);
}
input {
  background: transparent;
  color: var(--text-color);
  font-size: 18px;
  outline: none;
  width: 74px;
  text-align: center;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus,
select:focus {
  outline: none;
  border: 0px none;
}

select {
  background-color: var(--input);
  border-radius: 10px;
  padding: 4px 8px;
  color: var(--text-color);
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  -o-text-overflow: '';
  text-overflow: '';
  -webkit-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  -o-transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  transition: 0.2s cubic-bezier(0.21, 0.67, 0.31, 0.92);
  cursor: pointer;
}

select:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

select::-ms-expand {
  display: none;
}

.sub-card {
  background-color: var(--incard);
  height: 100%;
  border-radius: 32px;
  border-color: var(--border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  border: 1px solid var(--border);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
}

.cgpa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  gap: 6px;
}

.text {
  color: #3e3f3e !important;
  font-weight: 600;
  font-size: 14px;
}

.cgpa h1 {
  font-size: 40px;
  color: var(--brand) !important;
  font-weight: 800;
}
.add-course-button {
  background-color: var(--input);
  color: var(--sno);
  border: var(--border);
  border-radius: 12px;
}
.add-course {
  margin-top: 10px;
}