#content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    margin: 1vh;
}

#sno {
    background-color: var(--input);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 38px;
    border-radius: 10px;
    padding: 4px 8px;
    align-items: center;
}

#sno label {
    color: var(--sno);
    font-size: 16px;
}

input {
    background: transparent;
    color: var(--text-color);
    font-size: 18px;
    outline: none;
    width: 74px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:focus,
select:focus {
    outline: none;
    border: 0px none;
}

select {
    background-color: var(--input);
    border-radius: 10px;
    padding: 4px 8px;
    color: var(--text-color);
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    -o-text-overflow: "";
    text-overflow: "";
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

select:hover {
    transform: scale(0.95);
    
}

select::-ms-expand {
    display: none;
}

.sub-card {
    background-color: var(--incard);
    height: 100%;
    border-radius: 32px;
    border-color: var(--border);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid var(--border);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
}

.cgpa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: 6px;
}

.text {
    color: #3e3f3e !important;
    font-weight: 600;
    font-size: 14px;
}

.cgpa h1 {
    font-size: 40px;
    color: var(--brand) !important;
}